@import url("https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap");

* {
  box-sizing: border-box;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
}

header {
  margin: 50px 0;
  padding: 0;
  font-size: 18px;
  font-weight: 300;
}

h1:hover {
  color: #ff5252;
  cursor: pointer;
}

.home-page {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 200;
}

.head {
  font-family: "Open Sans";
  font-size: 14px;
}

.active {
  color: #ff5252;
}

nav ul {
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  cursor: pointer;
  list-style-type: none;
  font-size: 17px;
}

nav ul li a {
  color: black;
  display: block;
  line-height: 3em;
  padding: 0.5em 0.8em;
  text-decoration: none;
  letter-spacing: 0.05em;
}

nav ul li a:hover {
  color: #ff5252;
}

nav ul li:first-child {
  margin-right: auto;
}

.work-about-links {
  display: flex;
  align-items: center;
}

.intro {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 28px;
  margin-left: 1.5em;
  padding: 8em 0 0;
}

.intro-blurb {
  margin-top: 0;
  margin-right: 50%;
  margin-left: 2.3em;
  font-family: "Open Sans";
  font-weight: 200;
  padding: 0 0 8em;
}

span {
  color: #ff5252;
}

.scroll-arrow {
  background-color: #ff5252;
  border-radius: 55px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
}
